[submodule "ruby/yari"]
	path = ruby/yari
	url = git@github.com:pedz/yari-with-buttons.git
[submodule "ruby/rvm"]
	path = ruby/rvm
	url = git@github.com:pedz/rvm.el.git
[submodule "ruby/rinari"]
	path = ruby/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "ruby/ruby-electric"]
	path = ruby/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "jquery-doc-el"]
	path = jquery-doc-el
	url = https://github.com/ananthakumaran/jquery-doc.el.git
[submodule "magit"]
	path = magit
	url = git://github.com/magit/magit.git
[submodule "ruby/cucumber"]
	path = ruby/cucumber
	url = git://github.com/michaelklishin/cucumber.el.git
