[submodule "ruby/yari"]
	path = ruby/yari
	url = git@github.com:pedz/yari-with-buttons.git
[submodule "ruby/rvm"]
	path = ruby/rvm
	url = git@github.com:pedz/rvm.el.git
[submodule "ruby/rinari"]
	path = ruby/rinari
	url = https://github.com/eschulte/rinari.git
[submodule "magit"]
	path = magit
	url = https://github.com/philjackson/magit.git
[submodule "auto-complete"]
	path = auto-complete
	url = https://github.com/m2ym/auto-complete.git
[submodule "popup-el"]
	path = popup-el
	url = https://github.com/m2ym/popup-el.git
[submodule "ruby/ruby-electric"]
	path = ruby/ruby-electric
	url = https://github.com/qoobaa/ruby-electric.git
[submodule "jquery-doc-el"]
	path = jquery-doc-el
	url = https://github.com/ananthakumaran/jquery-doc.el.git
